[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-datetime-widget2 = "*"
django-filter = "*"
django-tempus-dominus = "*"

[dev-packages]
rope = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
