{% extends "base.html" %}
{% block title %}PaginationDemos List{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
{% endblock head %}

{% block header_text %}PaginationDemos{% endblock %}
{% block content %}
<form class="row my-4">
    <div class="col-md-5">
        <label for="id_filter_name" class="form-label">Name</label>
        <input class="form-control" id="id_filter_name" name="name" value="{{ request.GET.name }}" />
    </div>
    <div class="col-md-5">
        <label for="id_filter_amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="id_filter_amount" name="amount"
            value="{{ request.GET.amount }}" />
    </div>
    <div class="col-2 d-grid align-items-end mx-auto">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<hr />
<table id="datatable" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>amount</td>
            <td>craetedAt</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script>
    // Initialize datatable
    $(document).ready(function () {
        $('#datatable').DataTable({
            processing: true,
            serverSide: true,
            ajax: "/sortnpage/pagination-demos-data/" + window.location.search,
            columns: [
                { data: 'id', orderable: false },
                { data: 'name', className: 'name' },
                { data: 'amount', className: 'amount' },
                { data: 'createdAt', render: (val) => new Date(val).toLocaleDateString('en-AU') },
            ],
            order: [[1, "asc"]],
            createdRow: function (row, data, dataIndex) {
                // console.log(row, data, dataIndex);
                if (data.amount === 0) $(row).children('.name').addClass('text-danger')
                if (data.amount > 0) $(row).children('.amount').addClass('text-success')
            },
        });
    });
</script>
{% endblock %}